<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div id="dogs">
      <ul>
        <% dogs.forEach( (dog) => { %>
          <li><%= dog.name %></li>
        <% }) %>
      </ul>
    </div>

  </body>
</html>
